<!-- templates/swagger-ui.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui/swagger-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui/index.css' %}">
</head>
<body>
    <div id="swagger-ui"></div>
    <script src="{% static 'swagger-ui/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'swagger-ui/swagger-ui-standalone-preset.js' %}"></script>
    <script>
        window.onload = function() {
            const ui = SwaggerUIBundle({
                url: '{% url "schema-json" %}',  // URL to your OpenAPI spec JSON file
                dom_id: '#swagger-ui',
                deepLinking: true,
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                ],
                plugins: [
                    SwaggerUIBundle.plugins.DownloadUrl
                ],
                layout: "StandaloneLayout"
            })
            window.ui = ui
        }
    </script>
</body>
</html>
